* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #126E82;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  width: 100%;
}


:root {
  --main-gray: #303841;
  --main-blue: #231E23;
  
}

nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
 
}
#navbar {
  position: fixed;
  top:0;
  right:0;
 
}
img {
  border: 5px solid #11999E;
  
  border-bottom: 0.2rem solid #11999E ;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

li{
  float:right;
  
}

li a{
  display:block;
  color: black;
  text-align:center;
  padding:20px 18px;
  text-decoration:none;
}

li a:hover{
  background-color:#5C8EA7;
}
h1 {
  color: #66BFBF;
  font-size: 5.625em;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;

}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}


.Top-Container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
  background: #A6D6D6;

}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}



.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}



.portfolio-items-wrapper {

  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  padding-left: 50px;
  padding-right: 20px;
  margin: 0 auto; 
  
  
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  background-size: cover;
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  
  }
 
  
  



  
  











.btn{
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px 20px 10px 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

@media (max-width: 500px) {
  
  
}